img {
    max-width: 100%;
}

:root {
    --primary-color: aqua;
    --secondary-color: green;
}

h1 {
    color: white;
    background-color: var(--primary-color);
}

.masonary {
    margin: 0 10vw;
    column-count: 1;
    column-gap: 1rem;
}

@media (min-width: 576px) {
    .masonary {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .masonary {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .masonary {
        column-count: 4;
    }
}

.masonary img {
    width: 100%;
    margin-bottom: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    justify-items: center;
}

/* .project {
    border: solid 1px #ccc;
} */

.project.description p {
    max-width: 35rem;
}

/* .projects article:nth-child(2) {
    align-self: center;
    justify-self: center;
} */

.projects article:nth-child(odd) {
    justify-self: end;
}

.projects article:nth-child(even) {
    justify-self: start;
}

.projects article:nth-child(3),
.projects article:nth-child(4) {
    justify-self: center;
}

.projects article {
    display: grid;
    grid-template-rows: auto 1fr;
}

.projects article .project.description {
    order:2;
    align-self: start;
}